<h2>Delete Author</h2>
<table>
    <form action="/Author/deleteAuthor" method="post">
        <tr>
            <td>Authid:</td>
            <td><input type="text" name="authId" id="authId"></td>
        </tr>
        <tr>
            <td><button type="submit">Delete</button></td>
        </tr>
    </form>
</table>