<h2>Insert Author</h2>
<table>
    <form action="/Author/insertAuthor" method="post">
        <tr>
            <td>Author id: </td>
            <td><input type="text" name="authId" id="authId"></td>
        </tr>
        <tr>
            <td>Name:</td>
            <td><input type="text" name="name" id="name"></td>
        </tr>
        <tr>
            <td>Description</td>
            <td><input type="text" name="description" id="description"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" name="email" id="email"></td>
        </tr>
        <tr>
            <td>Phone</td>
            <td><input type="text" name="phone" id="phone"></td>
        </tr>
         <tr>
            <td>Salary</td>
            <td><input type="text" name="salary" id="salary"></td>
        </tr>
        <tr>
            <td><button type="submit">Add employee</button></td>
        </tr>

    </form>
</table>